*{
    box-sizing: border-box;
}
body{
    background:white;
    margin: 0;
    font-family: sans-serif;
}

.container-fluid{
    width: 100%;
    padding: 0 16px;
}

.container{
    max-width: 1000px;
    margin: 0 auto;
}

header{
    background: rgba(255, 255, 255, 0.79);
    min-height: 80px;
    position: sticky;
    width: 100%;
    top: 0;
}

.strip{
    background: #777;
    min-height: 300px;
}

main{
    background: #eee;
    min-height: 200px;  
    position: relative;  
}

main .half{
    position: absolute;
    width: 100%;
    height: 100px;
    top: 0;
    left: 0;
    background: #777;
}

.logo{
    margin: 3px;
    padding: 0;
}

header .container{
    display: flex;
    justify-content:space-between;
    align-items: center;
}

header nav a{
    color: black;
    text-decoration: none;
    font-size: 20px;
    padding: 0 10px;
}

header nav a:hover{
    color:red;
    text-decoration: underline;
}

.strip .container{
    max-width: 400px;
    min-height: inherit;
    padding: 8px;
    color: white;
    display: flex;
    justify-content: center;
    text-align: center;
}

.strip button{
    color: white;
    background: #333;
    padding: 4px 16px;
    border-radius: 50px;
}

.strip button:hover{
    background: orange;
}
 
main .box{
    text-align: center;
    padding: 16px;
    background: white;
    width: 30%;

    box-shadow: 12px 12px 2px 1px rgba(0, 0, 0, 0.671);

    z-index: 99;
}

main .container{
    padding: 32px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

select{
    display: none;
}

@media screen and (max-width:728px){
    /* .strip{
        background-color: orange;
    } */

    main .box{
        width: 100%;
        margin-bottom: 16px;
    }

    .strip button{
        padding: 6px 40px;
    }

    header .logo img{
        width:80%;
    }

    header nav a{
        display: none;
    }

    select{
        display: block;
        border-radius: 40px;
        max-height: 30px;
        width: 100%;
        color: white;
        background: rgb(52, 52, 52);
        font-family: sans-serif;
        font-size: 16px;
    }
}


